/* Styles pour les notifications */
.success-snackbar {
    background-color: #4CAF50;
    color: white;
  }
  
  .error-snackbar {
    background-color: #F44336;
    color: white;
  }
  /* Animation pour la notification */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fixed.top-0 {
  animation: slideDown 0.3s ease-out forwards;
}
  /* Vous pouvez ajouter d'autres styles si nécessaire */
  .mat-simple-snackbar-action {
    color: white;
  }